<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>作品简介</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/community.css">
	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigation::nav}"></div>
	<div class="header">
		<span class="nav_left"><a href="javascript:history.go(-1)">返回</a></span>
		<h1>小说简介</h1>
		<span class="nav_right"> <a rel="internal"
			th:href="@{/index}">首页</a>
		</span>
	</div>
	<div class="wrap clearfix">
	
		<div class="section bindex">
	]		<input th:type="hidden" th:value="${NovelInfo.id}">
			<input th:type="hidden" th:value="${NovelInfo.chapterUrl}">
			<div class="btitle">
				<span th:text="${ NovelInfo.name}"></span>
				<span th:text="(${NovelInfo.status})"></span>
			</div>
			<div class="blist">
				<ul>
					<li>
						<div class="bookwrap clearfix">
							<div class="bcover fl">
								<img
									th:src="${NovelInfo.img }"
									height="130" width="100">
							</div>
							<div class="bintro b_i pl10">
								<p>
									分类: <b class="tname"><a th:href="@{/urbanNovel}"
										class="ye"><span th:text="${NovelInfo.type}"></span></a></b><br />
									作者: <span th:text="${NovelInfo.author }"></span><br />
									共<span th:text="${NovelInfo.length }"></span>字 <br />
									收藏: <span th:text="${NovelInfo.collection }"></span>
								</p>
							</div>
						</div>
						
						<div class="blink gyb bl3 mt5">

							<a th:href="@{/chapterList(url=${NovelInfo.chapterUrl},name=${NovelInfo.name}
							,id=${NovelInfo.id})}" class="last"><h3>查看目录</h3></a>
						</div>
					</li>
					<li>
						<span class="bname">
								最新章节：<b class="ye" th:text="${NovelInfo.lastUpdateChapter}"></b>
							</a>
						</span>
								更新时间：<b class="gy">(更新)</b>
<!--
						<span th:text="${#dates.format(${NovelInfo.lastUpdateTime},'yyyy-MM-dd')}"></span>
-->
					</li>
					<li>
						<div class="intro">
							<p>
								<b th:text="${NovelInfo.introduction}">简介：</b>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div th:insert="~{footer::foot}"></div>
	</div>
</body>
</html>